@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: none;
}

@keyframes fadeOut {
  from { 
    opacity: 1; 
    transform: scale(1); 
  }
  to { 
    opacity: 0; 
    transform: scale(2); 
  }
}
